<div class="container" ng-app="product_app" ng-controller="product_controller">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{$title}</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group row">
                        <input class="form-control" type="hidden" value={$id} id="id-input">
                        <div class="col-sm-12 info">
                            <label for="name-input" class="col-sm-4 col-form-label">Name:</label>
                            <div class="col-sm-8">
                                <input class="form-control ng-cloak" type="text" value=[[name]] id="name-input" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 info">
                            <label for="family-input" class="col-sm-4 col-form-label">Family:</label>
                            <div class="col-sm-8">
                                <input class="form-control ng-cloak" type="text" value=[[family]] id="family-input" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 info">
                            <label for="subfamily-input" class="col-sm-4 col-form-label">Sub Family:</label>
                            <div class="col-sm-8">
                                <input class="form-control ng-cloak" type="text" value=[[subfamily]] id="subfamily-input" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 info">
                            <label for="minstock-input" class="col-sm-4 col-form-label">Minimum Stock:</label>
                            <div class="col-sm-8">
                                <input class="form-control ng-cloak" type="text" value=[[minStock]] id="minstock-input" disabled>
                            </div>
                        </div>
                        <div class="col-sm-12 info">
                            <label for="stock-input" class="col-sm-4 col-form-label">Actual Stock:</label>
                            <div class="col-sm-8">
                                <input class="form-control ng-cloak" type="text" value=[[actStock]] id="stock-input" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead class="thead-default">
                            <tr>
                                <th>Date</th>
                                <th>Identifier</th>
                                <th>Client/Supplier</th>
                                <th>Ammount</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="transaction.TotalValue > 0 ? 'table-success' : 'table-danger'" class="ng-cloak" ng-repeat="transaction in page">
                                <td>[[transaction.DocumentDate | date]]</td>
                                <td>[[transaction.Id]]</td>
                                <td>[[transaction.EntityName]]</td>
                                <td>[[transaction.Items[0].Quantity]] UN</td>
                                <td class="currency">[[transaction.Items[0].Value | euro]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- pager -->
                    <ul ng-if="pager.pages.length" class="pagination" style="display: flex; justify-content:center">
                        <li ng-class="pager.currentPage === 1 ? 'disabled' : ''">
                            <a ng-click="setPage(1)">First</a>
                        </li>
                        <li ng-class="pager.currentPage === 1  ? 'disabled' : ''">
                            <a ng-click="setPage(pager.currentPage - 1)">&laquo;</a>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="pager.currentPage === page ? 'active' : ''">
                            <a ng-click="setPage(page)">[[page]]</a>
                        </li>               
                        <li ng-class="pager.currentPage === pager.totalPages ? 'disabled' : ''">
                            <a ng-click="setPage(pager.currentPage + 1)">&raquo;</a>
                        </li>
                        <li ng-class="pager.currentPage === pager.totalPages ? 'disabled' : ''">
                            <a ng-click="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>

</div>

<script src="/../javascript/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="/../javascript/product.js"></script>
