/* Custom nav bar */
.navbar-default {
    background-color: #56400b;
    border-color: #d09b1c;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #d09b1c;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #d09b1c;
}

.navbar-default .navbar-toggle {
    border-color: #d09b1c;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #d09b1c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #d09b1c;
    }
}

/* Custom button */
.btn-timeFilter {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #8A6D3B;
}

.btn-timeFilter:hover,
.btn-timeFilter:focus,
.btn-timeFilter:active,
.btn-timeFilter.active,
.open .dropdown-toggle.btn-timeFilter {
    color: #000000;
    background-color: #D09B1C;
    border-color: #8A6D3B;
}

.btn-timeFilter:active,
.btn-timeFilter.active,
.open .dropdown-toggle.btn-timeFilter {
    background-image: none;
}

.btn-timeFilter.disabled,
.btn-timeFilter[disabled],
fieldset[disabled] .btn-timeFilter,
.btn-timeFilter.disabled:hover,
.btn-timeFilter[disabled]:hover,
fieldset[disabled] .btn-timeFilter:hover,
.btn-timeFilter.disabled:focus,
.btn-timeFilter[disabled]:focus,
fieldset[disabled] .btn-timeFilter:focus,
.btn-timeFilter.disabled:active,
.btn-timeFilter[disabled]:active,
fieldset[disabled] .btn-timeFilter:active,
.btn-timeFilter.disabled.active,
.btn-timeFilter[disabled].active,
fieldset[disabled] .btn-timeFilter.active {
    background-color: #FFFFFF;
    border-color: #8A6D3B;
}

.btn-timeFilter .badge {
    color: #FFFFFF;
    background-color: #000000;
}

footer {
    background-color: #56400b;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: auto 0;
    right: 0;
    padding: 1rem;
    margin-top: 10px;
}