<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finances Dashboard </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">360º Company Dashboard</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="main">Dashboard</a>
            </li>
            <li>
                <a href="sales">Sales</a>
            </li>
            <li>
                <a href="purchases">Purchases</a>
            </li>
            <li>
                <a href="inventory">Inventory</a>
            </li>
            <li class="active">
                <a href="finances">Finances</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group dropdown">
                    <button class="btn btn-timeFilter dropdown-toggle" type="button" data-toggle="dropdown">2017
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">2017</a></li>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2015</a></li>
                    </ul>
                </div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-timeFilter active">
                        <input type="radio" name="options" autocomplete="off" checked>None
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off" checked>Jan
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Fev
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Mar
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off" checked>Apr
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Jun
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Jul
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off" checked>Aug
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Set
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Oct
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off" checked>Nov
                    </label>
                    <label class="btn btn-timeFilter">
                        <input type="radio" name="options" autocomplete="off">Dec
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">

        <div class="col-sm-3">
            <h4 class="text-center" style="color: #8a6d3b">Overview</h4>
            <div class="row text-center">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4>Final Equity value</h4>
                            <h3>9 750€</h3>
                        </li>
                        <li class="list-group-item">
                            <h4>Final Assets value</h4>
                            <h3>19 983€</h3>
                        </li>
                        <li class="list-group-item">
                            <h4>Final Liabilities value</h4>
                            <h3>10 233€</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" style="display:block; text-align:center; color: #d09b1c">More details</a>
        </div>

        <div class="col-sm-9">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

    </div>

</div>

<footer>
    <h5 style="color: #FFFFFF">© 2017 Copyright: 360º Dashboard Company</h5>
</footer>

<script src="../javascript/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="../javascript/finances.js"></script>

</body>
</html>