<div id="loader"></div>

<div class="container blur" ng-app="main_app" ng-controller="main_controller">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="btn-toolbar" role="toolbar" aria-label="Filter Toolbar">
                <div class="btn-group dropdown" role="group" aria-label="Year group">
                    <button class="btn btn-timeFilter dropdown-toggle ng-cloak" type="button" data-toggle="dropdown">[[chosenYear]]
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="year in years"><a href="" ng-click="chooseYear(year)">[[year]]</a></li>
                    </ul>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Month Group">
                    <button type="button" class="btn btn-timeFilter month-selector active" ng-click="chooseMonth(null)">None</button>
                    <button ng-repeat="month in months" type="button" class="btn btn-timeFilter ng-cloak month-selector" ng-click="chooseMonth(month.value)">[[month.name]]</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row dashboard">
        <div class="col-sm-6">
            <div id="cash" class="col-sm-6">
                <span class="dashboard-value" style="background-color:green">
                    [[total_sales | euro]]
                </span>
                <span class="dashboard-value-description"  style="background-color:darkgreen">
                    Total Sales
                </span>
            </div>
            <div id="purchases" class="col-sm-6">
                <span class="dashboard-value" style="background-color:orange">
                    [[total_purchases | euro]]
                </span>
                <span class="dashboard-value-description"  style="background-color:darkorange">
                    Total Purchases
                </span>
            </div>
            <div id="turnover" class="col-sm-12">
                <span class="dashboard-value" style="background-color:deepskyblue">
                    [[gross_profit_ratio | percentage]]
                </span>
                <span class="dashboard-value-description"  style="background-color:royalblue">
                    Gross Profit (GP) Ratio
                </span>
            </div>
            <div id="inventory" class="col-sm-12">
                <span class="ng-cloak dashboard-value" style="background-color:mediumpurple">
                    [[inventory_value | euro]]
                </span>
                <span class="dashboard-value-description"  style="background-color:rebeccapurple">
                    Current Inventory Value
                </span>
            </div>
        </div>

        <div class="col-sm-6">
            <div id="costumers" class="col-sm-6">
                <span class="dashboard-value ng-cloak" style="background-color:green">
                    [[activeCustomers]]
                </span>
                <span class="dashboard-value-description"  style="background-color:darkgreen">
                    Active Customers
                </span>
            </div>
            <div id="best_costumer" class="col-sm-6">
                <span class="dashboard-value ng-cloak" style="background-color:orange">
                    [[mostValuableCustomer]]
                </span>
                <span class="dashboard-value-description"  style="background-color:darkorange">
                    Most Valuable Customer
                </span>
            </div>

            <div id="product_sales" class="col-sm-12">
                <div id="sales-by-product"></div>
            </div>
        </div>
    </div>
</div>

<script src="../javascript/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="../javascript/dashboard.js"></script>
</body>
</html>